<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>{% block title %}胡八一 短网址 Make Your URL Short{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="alternate icon" type="image/png" href="{{ asset('favicon.png') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/amazeui.min.css') }}"/>
        <style>
            .header {
                text-align: center;
            }
            .header h1 {
                font-size: 200%;
                color: #333;
                margin-top: 30px;
            }
            .header p {
                font-size: 14px;
            }
        </style>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script type="text/javascript" src="{{ asset('assets/js/jquery-3.1.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/amazeui.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
        {% if app.environment == 'prod' %}
        <div class="am-hide">
            <script src="https://s11.cnzz.com/z_stat.php?id=1259886021&web_id=1259886021" language="JavaScript"></script>
        </div>
        {% endif %}
    </body>
</html>